body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#unity-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding-top: 20px;
  padding-bottom: 5%;
  box-sizing: border-box; /* 確保 padding 不會撐大容器 */
}


#unity-canvas {
  width: 100%;
  height: 100%;
  background: #231F20;
  display: block;
}