body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#unity-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh; /* 佔滿整個視窗的 80% 高度 */
  box-sizing: border-box;
}

#unity-canvas {
  width: 100%;
  height: 100%;
  background: #231F20;
}

#unity-container.unity-mobile {
  top: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
}

